*{
    font-family: Arial;

}

h1{

    font-size: 55;
    margin-left: 5%; 
    margin-top: 5%;

}

span{


    font-weight: 1000;


}

.navbar{
    background-color: rgb(45, 137, 218);
    display: flex;
    justify-content: right;
    padding-right: 3rem;
    padding-left: 30rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 1rem;

}

.navbar a {
    text-decoration: none;
    margin-left: 1rem;

    
}

.navbar a:hover {
    text-decoration: none;
    background-color: red;
    
}

.navbar img {
    height: 3rem;
    width: 5rem;
    margin-left: 1rem;
    margin-top: 1rem; 
    position:absolute;
    float: left;
    top: 0;
    left: 0;

 
}


.praktisk_info{


    
    list-style-type:none; 
}

.praktisk_info span {

    border-bottom: 1px solid;
}
.praktisk_info p{margin-top: 10%;}
.praktisk_info li{

    margin-right: 1%;

    display: inline-block;


    margin: 3em;
}



#Bachelorprogram {

    font-size: 150%;

    font-style: oblique;

    margin-left:5%; 
}


#introbilde {



    width: 75%; 
    margin: 7%;
}



#oppsummering {

    margin: 5%;

    font-size: 120%;
    padding-top: 3%;

    padding-bottom: 3%;

    border-top: 1px solid #000;

    border-bottom: 1px solid #000;
}

/*----- ACTIVITY PAGE --------------------------------*/


